body {
  font: Lato;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: white;
  padding: 0rem 4rem;
  height: 100vh;
  /* opacity: .2; */
}

img {
  border: none;
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}